<template>
    <div id="Categories">
        <h2>Categorias para un viaje</h2>
        <input v-model="id_cat" placeholder="Id a buscar">
        <button v-on:click="getCategoryid">Obtener categoría</button>
        <h2>La categoría encontrada tiene el nombre <span>{{name}}</span> .</h2>

        <h2>Crear un nueva Categoria</h2>
        <button v-on:click="crearCategoria">Crear nueva categoría</button>


        <h2>Lista de Categorias</h2>
          <table >
              <thead>
                  <tr>
                  
                  <th>Nombre</th>
                  
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="(categoria, index) in Categorias" :key="index">
                      
                      <td>{{categoria.nombre}}</td>
                      

                  </tr>
              </tbody>
          </table>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {

        name: 'Categories',

        data: function (){
            return {
                
                name: "",
                
                Categorias:[],
                id_cat: ""


            }
        },

        created: function() {
            let self = this
            axios.get("https://backend-viajes.herokuapp.com/categories/")
                    .then((result) => {
                        self.Categorias = result.data                    })
                    .catch(() => {
                        alert("ERROR de Servidor");
                    })

        },

        methods: {

            getCategoryid: function() {
                let self = this

                axios.get("https://backend-viajes.herokuapp.com/categories/" + this.id_cat)
                    .then((result) => {
                        self.name = result.data.nombre
                    })
                    .catch(() => {
                        alert("ERROR de Servidor");
                    });
            },

            crearCategoria: function () {
             this.$router.push({ name: "createcategory" });
            },





        }
    }
</script>

<style>
    #Categories{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Categories h2{
        font-size: 25 px;
        color: #283747;
    }
    #Categories span{
        color: crimson;
        font-weight: bold;
    }
</style>

