<template>
    <div id="Ciudades">
        <h2>Ciudades para un viaje</h2>
        <input v-model="id_cat" placeholder="Id a buscar">
        <button v-on:click="getCategoryid">Obtener Ciudad</button>
        <h2>La ciudad encontrada tiene el nombre de <span>{{name}}</span> .</h2>

        <h2>Crear un nueva Ciudad</h2>
        <button v-on:click="crearCiudad">Crear nueva ciudad</button>

        <h2>Lista de Ciudades</h2>
          <table >
              <thead>
                  <tr>
                  
                  <th>Nombre</th>
                  
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="(ciudad, index) in Ciudades" :key="index">
                      
                      <td>{{ciudad.nombre}}</td>
                      

                  </tr>
              </tbody>
          </table>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {

        name: 'Ciudades',

        data: function (){
            return {
                
                name: "",
                
                Ciudades:[],
                id_cat: ""


            }
        },

        created: function() {
            let self = this
            axios.get("https://backend-viajes.herokuapp.com/cities/")
                    .then((result) => {
                        self.Ciudades = result.data                    })
                    .catch(() => {
                        alert("ERROR de Servidor");
                    })

        },

        methods: {

            getCategoryid: function() {
                let self = this

                axios.get("https://backend-viajes.herokuapp.com/cities/" + this.id_cat)
                    .then((result) => {
                        self.name = result.data.nombre
                    })
                    .catch(() => {
                        alert("ERROR de Servidor");
                    });
            },

             crearCiudad: function () {
             this.$router.push({ name: "createciudad" });
            },





        }
    }
</script>

<style>
    #Ciudades{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Ciudades h2{
        font-size: 25 px;
        color: #283747;
    }
    #Ciudades span{
        color: crimson;
        font-weight: bold;
    }
</style>

