<template>
    <div id="CreateCategory">
        
        <label>Nombre de Categoria: </label>
        <input v-model="cat_nom" placeholder="Nombre de la categoria">
                <button v-on:click="guardarcat">GUARDAR DATOS</button>
        <h2>La categoría con ID = <span>{{id}}</span>, tiene el nombre <span>{{name}}</span> </h2>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {

        name: 'CreateCategory',

        data: function (){
            return {
                id: "",
                name: this.cat_nom,
                
                cat_nom:""

            }
        },

        created: function() {
            
            
        },

        methods: {

            guardarcat: function() {

               
                let self = this
                let post ={
                 
                    nombre: this.cat_nom,
               
                }

                axios.post("https://backend-viajes.herokuapp.com/categories/", post)
                    .then((result) => {
                        self.id = result.data.id,
                        self.name = result.data.nombre
                        
                    })
                    .catch(() => {
                        alert("ERROR - Verifica el ID");
                    });
            }
        }
    }
</script>

<style>
    #Categories{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Categories h2{
        font-size: 25 px;
        color: #283747;
    }
    #Categories span{
        color: crimson;
        font-weight: bold;
    }
</style>
