<template>
  <div class="home">
    <h1>
      ¡Bienvenido hola <span> {{ username }} </span>!
    </h1>

    <div class="greetings">
      <div class="card" style="width: 18rem" v-for="(lugar, index) in lugares" :key="index">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="180"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>

        <div class="card-body">
          <h5 class="card-title">{{lugar.nombre}}</h5>
          <p class="card-text">
            {{lugar.comentario}}
          </p>
          <button v-on:click="verLugar(lugar.id)" class="btn btn-primary">Leer más</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Home",
  data: function () {
    return {
      username: localStorage.getItem("username") || "none",

      lugares: [],
      id_lugar: "",
    };
  },

  created: function () {
    let self = this;
    axios
      .get("https://backend-viajes.herokuapp.com/lugares/")
      .then((result) => {
        self.lugares = result.data;
      })
      .catch(() => {
        alert("ERROR de Servidor");
      });
  },

   methods: {

    verLugar: function(id) {
        let lugar_id = id;
      this.$router.push({ name: "lugares", params:{  id: lugar_id } });
    },
},



};
</script>

<style>
.greetings {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1 {
  font-size: 50px;
  color: #283747;
  text-align: center;
}
.home span {
  color: crimson;
  font-weight: bold;
}

.card {
  border: 3px solid #283747;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: auto;
  margin: 5px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
}
img,
svg {
  vertical-align: middle;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #283747;
  border-color: #283747;
}
</style>
