<template>
  <div>
    <div class="greetings">
      <div
        class="lugar"
        style="width: 18rem"
       
      >
        <span>Nombre: </span><p>{{nombre}}</p>
          
        <span>Comentario: </span><p>{{comentario}}</p>

        <span>Ciudad: </span><p>{{ciudad}}</p>

        <span>Categoria: </span><p>{{categoria}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Lugares",
  data: function () {
    return {
      nombre:"",
      comentario:"",
      ciudad:"",
      categoria:"",
      id_lugar: "",
    };
  },

  created: function () {
    this.id_lugar = this.$route.params.id;
    let self = this;
    axios
      .get("https://backend-viajes.herokuapp.com/lugares/" + this.id_lugar)
      .then((result) => {
        self.nombre=result.data.nombre,
        self.comentario=result.data.comentario,
        self.ciudad=result.data.ciudad.nombre,
        self.categoria=result.data.categoria.nombre
        
      })
      .catch(() => {
        alert("ERROR de Servidor");
      });
  },

  methods: {},
};
</script>

<style>

.lugar p {
  font-size: 1rem;
  color: #283747;
  text-align: center;
}
.lugar span {
    font-size: 1.5rem;
  color: crimson;
  font-weight: bold;
}

</style>
